body{
  margin: 0%;
}

a{
  text-decoration: none;
}


header {
  margin: 0;
  font-family: "Arial Black", Arial, sans-serif;
}

.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}

.menu {
  background: red;
  color: white;
  width: 300px;
  height: 100vh;
  position: fixed;
  left: -300px;
  top: 0;
  transition: left 0.3s;
}
.menu ul {
  margin-top: 8vh;
  list-style: none;
  padding: 0;
}
.menu ul li {
  padding: 15px;
}
.menu ul li a {
  font-size: 3vh;
  color: white;
  text-decoration: none;
}

.menu-toggle {
  font-size: 5vh;
  background: none;
  border: none;
  color: black;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 3vh;
  left: 3vh;
  z-index: 100;
}

@media (min-width: 768px) {
  .menu {
      left: 0;
  }

  .menu-toggle {
      display: none;
  }
}


section{
  display: block;
}

#top{
  text-align: center;
}
.poster img{
  width: 100%;
  object-fit: contain;
}

.summary{
  text-align: center;
}

.thumbnail{
  display: flex;
  justify-content: center;
}
.thumbnail button{
  display: inline-block;
  width: 5vw;
  height: 5vw;
  padding: 0%;
  background-color: red;
}
.thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pic-chara{
  display: flex;
  justify-content: center;
}
.pic-chara img{
  height: 80vh;
  object-fit: contain;
}


footer{
  display: block;
  height: 8vh;
  text-align: center;
  padding-bottom: 5vh;
}

.logo-footer{
  height: 100%;
}
.logo-footer img{
  height: 100%;
  object-fit: contain;
}